@charset "UTF-8";
/**
 * Extensible CSS - v1.0.0
 * Author: Erisvaldo Correia
 *
 * Licence MIT - 2018
 *
 * A simple library for starting web projects
 */

@import url('https://fonts.googleapis.com/css?family=Lato|Oxygen|Raleway|Roboto');
/**
 * Fonts Palette -- collections import by Fonts Google
 * marked as important to avoid conflicts
 *
 */
.lato {
	font-family: 'Lato' !important;
}

.rbt {
  font-family: 'Roboto' !important;
}

.rlw {
  font-family: 'Raleway' !important;
}

.oxy {
  font-family: 'Oxygen' !important;
}

/**
 * initial -- HTML basic tags
 *
 */
body {
	margin: 0;
	padding: 0;
	letter-spacing: .01em;
  color: #1e2324;
  font-size: 1em;
  font-weight: 300;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.2em;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

a {
	cursor: pointer;
	background-color: transparent;
	color: #1e2324;
	text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

img {
  border-style: none;
}

hr {
	color: #a38fa1;
}

blockquote {
	border-left: 0.3rem solid #a38fa1;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 1.5rem;
	font-style: italic;
}

pre,
code {
	background: #e3e9ee;
}

code {
	font-family: monospace, monospace;
  font-size: 100%;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
}

pre > code {
  display: block;
  padding: 0.5rem 1rem;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.button,
button {
  border: 0.1rem solid;
  border-radius: .5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 1.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	white-space: nowrap;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/**
 * Colors Palette Base
 * marked as important to avoid conflicts
 * use bg for background
 *
 * marks for 'red, green, blue, cyan, purple, yellow, orange, grey, brown'
 *
 */

/* define red colors */
.dark-red {
	color: #520a04 !important;
}
.middle-red {
	color: #99150b !important;
}
.light-red {
	color: #d22113 !important;
}
.bg-dark-red {
	background-color: #520a04 !important;
}
.bg-middle-red {
	background-color: #99150b !important;
}
.bg-light-red {
	background-color: #d22113 !important;
}

/* define green colors */
.dark-green {
	color: #082402 !important;
}
.middle-green {
	color: #165509 !important;
}
.light-grenn {
	color: #247c11 !important;
}
.bg-dark-green {
	background-color: #082402 !important;
}
.bg-middle-green {
	background-color: #165509 !important;
}
.bg-light-grenn {
	background-color: #247c11 !important;
}

/* define blue colors */
.dark-blue {
	color: #01579b !important;
}
.middle-blue {
	color: #0277bd !important;
}
.light-blue {
	color: #03a9f4 !important;
}
.bg-dark-blue {
	background-color: #01579b !important;
}
.bg-middle-blue {
	background-color: #0277bd !important;
}
.bg-light-blue {
	background-color: #03a9f4 !important;
}

/* define orange colors */
.dark-orange {
	color: #ab4800 !important;
}
.middle-orange {
	color: #cb5703 !important;
}
.light-orange {
	color: #e66507 !important;
}
.bg-dark-orange {
	background-color: #ab4800 !important;
}
.bg-middle-orange {
	background-color: #cb5703 !important;
}
.bg-light-orange {
	background-color: #e66507 !important;
}

/* define yellow colors */
.dark-yellow {
	color: #d5ac00 !important;
}
.middle-yellow {
	color: #fbd328 !important;
}
.light-yellow {
	color: #ffdf57 !important;
}
.bg-dark-yellow {
	background-color: #d5ac00 !important;
}
.bg-middle-yellow {
	background-color: #fbd328 !important;
}
.bg-light-yellow {
	background-color: #ffdf57 !important;
}

/* define grey-scale colors */
.dark-grey {
	color: #2d2b24 !important;
}
.middle-grey {
	color: #504e45 !important;
}
.light-grey {
	color: #8f8d86 !important;
}
.bg-dark-grey {
	background-color: #2d2b24 !important;
}
.bg-middle-grey {
	background-color: #504e45 !important;
}
.bg-light-grey {
	background-color: #8f8d86 !important;
}

/* define cyan colors */
.dark-cyan {
	color: #00838f !important;
}
.middle-cyan {
	color: #00bcd4 !important;
}
.light-cyan {
	color: #80deea !important;
}
.bg-dark-cyan {
	background-color: #00838f !important;
}
.bg-middle-cyan {
	background-color: #00bcd4 !important;
}
.bg-light-cyan {
	background-color: #80deea !important;
}

/* define purple colors */
.dark-purple {
	color: #4a148c !important;
}
.middle-purple {
	color: #9c27b0 !important;
}
.light-purple {
	color: #ce93d8 !important;
}
.bg-dark-purple {
	background-color: #4a148c !important;
}
.bg-middle-purple {
	background-color: #9c27b0 !important;
}
.bg-light-purple {
	background-color: #ce93d8 !important;
}

/* define brown colors */
.dark-brown {
	color: #3e2723 !important;
}
.middle-brown {
	color: #795548 !important;
}
.light-brown {
	color: #a1887f !important;
}
.bg-dark-brown {
	background-color: #3e2723 !important;
}
.bg-middle-brown {
	background-color: #795548 !important;
}
.bg-light-brown {
	background-color: #a1887f !important;
}

/**
 * This library will serve as the basis for your projects.
 * You are free to use, modify, and distribute.
 * New implementations are coming
 * Thanks for use this!
 */
